
/*!!!   Убрать Тест мод в конце   !!!*/
/*   там есть строка "Сафронов лох"   */

/*Импорт шрифта Montserrat*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');


/* ClearFix */
.clr:after{
    display: block;
    content: "";
    clear: both;
}


*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
body{
    overflow-x: auto;
    overflow-y: scroll;

    font-family: 'Montserrat', sans-serif;
}
html,
body{
    height: 100%;
}
ol,
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

#container{
    /*width: 980px;*/
    max-width: 980px;
    min-width: 500px;
    min-height: 100%;
    position: relative;
    margin: 0 auto;

    /*height: 1397px;*/
}


/*-------HEADER-------*/
header{
    /*width: 980px;*/
    width: 100%;
    height: 183px;
    position: relative;
}

/* Меню */
#header_menu{
    /*left: 472px;*/
    right: 1%;
    width: 505px;
    position: absolute;
    top: 121px;
    height: 24px;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
#header_menu ul{
    text-align: right;
    text-transform: uppercase;
}
#header_menu ul li{
    height: 24px;
    position: relative;
    box-sizing: border-box;
    overflow: visible;

    display: inline-block;
    cursor: pointer;
}
#header_menu ul li:nth-child(1){
    /*width: 75px;*/
    width: 76px;
}
#header_menu ul li:nth-child(2){
    /*width: 147px;*/
    width: 146px;
}
#header_menu a{
    display: inline-block;
    height: 100%;
    width: 100%;
    color: #414141;
    transition: color 0.4s ease 0s;

    text-align: center;
    line-height: 24px;
}
#header_menu a:hover{
    color: #A8A8A7;
}


/* Лого */
#header_logo{
    position: absolute;
    top: 98px;
    left: 22px;

    width: 64px;
    height: 48px;
}
/*SVG set*/
#header_logo svg {width:100%;height:100%;position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;fill:#414141;fill-opacity:1;stroke:rgba(65, 65, 65, 1);stroke-width:0px;}
#header_logo svg * {vector-effect:non-scaling-stroke;}
#header_logo a {display:block;height:100%;}

 /* Заголовок */
 #header_title{
    position: absolute;
    top: 99px;
    left: 100px;
    width: 320px;
    color: #414141;
 }
 #header_title h1{
    font-size: 20px;
    font-weight: 700;
 }
#header_title h1 a:nth-child(2){
    font-weight: 400;
}
/*-------END HEADER-------*/



/*-------FOOTER-------*/
footer{
    /*width: 980px;*/
    width: 100%;

    height: 66px;
    position: relative;
}
/*Разделяющая линия сверу*/
#footer_topline{
    left: 18px;
    /*width: 950px;*/
    width: 97%;

    position: absolute;
    top: 0px;
    height: 5px;
    border-bottom: 1px solid rgba(212, 212, 210, 1);
    height: 0 !important;
    min-height: 0 !important;
}

/*Копирайты*/
#footer_info{
    left: 18px;
    width: 370px;
    position: absolute;
    top: 24px;

    color: #A8A8A7;
    font-size: 14px;
}

/*Ссылки на соц сети*/
#footer_socialbar{
    right: 17px;
    position: absolute;
    top: 23px;
    height: 20px;
    color: #999999;

    letter-spacing: 20px;
    font-size: 16px;
}
#footer_socialbar a:hover{
    color: #414141;
}

/*-------END FOOTER-------*/



/*-------MAIN-------*/
main{
    /*width: 980px;*/
    width: 100%;

    /*min-height: 964px;*/
    /*padding: 20px 0 10px 0;*/
    padding: 2% 0 10px 0;
    
    position: relative;
}

#Home{
    /*margin-top: 15px;*/
    /*margin-top: 35px;*/
    padding-top: 3%;
}

/*Основное видео*/
#video{
    position: relative;
    /*width: 904px;*/
    width: 92%;

    /*height: 508px;*/
    height: 0;
    padding-bottom: 51.817%;

    margin: 0 auto;
    /*padding-top: 20px;*/
}


#video-preview{
    display: table;
    position: absolute;

    left: 0;
    top: 0;
    bottom: 0;

    /*width: 904px;*/
    width: 100%;

    /*height: 508px;*/
    height: 100%;
    z-index: 5;

    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
}

#video-preview-box-content{
    display: table-cell;
    vertical-align: middle;
    padding: 5%;
}


#video-preview-title{
    /*margin-top: 21%;*/
    font-size: 40px;
}
#video-preview-author{
    margin-top: 10px;
    font-size: 18px;
}

#video-preview button{
    width: 160px;
    height: 40px;
    /*margin-top: 36px;*/
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 20px;
    background: #414141;

    color: #fff;
    font-size: 14px;
    word-spacing: 5px;
    line-height: 28px;
}
#video-preview button:hover{
    background-color: #3b3b3b;
    cursor: pointer;
}



#Vimeo-player{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
    background-size: cover;
}


/*Ещё работы*/
#more_box{

    /*width: 904px;*/
    width: 92%;

    /*min-height: 533px;*/

    margin: 20px auto;
}
/* ClearFix */
#more_box:after{
    display: block;
    content: "";
    clear: both;
}

.more_box-content{
    position: relative;

    background: #999;
    
    /*width: 447px;*/
    width: 49.5%;
    min-width: 250px;
    height: 0;
    padding-bottom: 28%;

    float: left;
    margin-bottom: 12px;

    box-sizing: border-box;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}
.more_box-content:nth-child(odd){
    /*margin-right: 10px;*/
    margin-right: 1%;
}
.more_box-content a{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.more_box-border-select{
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    box-sizing: border-box;
    padding: 10px;
    transition: border-color 0.4s ease 0s;
}
.more_box-border-select:hover{
    border-color: #414141
}
.more_box-border-select:hover .duration{
    display: block;
}

.video_name{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}
.duration{
    display: none;

    position: absolute;
    left: 0;
    bottom: 0;
    width: 55px;
    height: 22px;
    padding: 0 5px;

    color: #fff;
    background: #000;
    opacity: .6;

    text-align: center;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
}



/* Bio */
#Bio{
    display: none;
    
    width: 100%;
}
#bio_image{
    display: block;
    /*width: 948px;*/
    width: 97%;

    margin: 0 auto;
}
#bio_info{
    box-sizing: border-box;
    position: relative;
    /*width: 948px;*/
    width: 97%;
    

    padding: 50px 10px 50px 50px;
    text-align: left;
    font-size: 14px;
    line-height: 22px;
    color: #414141;
}
#bio_info h2{
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #575757;
}
#bio_info h5{
    font-size: 16px;
    font-weight: 300;
}
#bio_info p{
    font-weight: 300;
    letter-spacing: 1px;
    margin: 10px 0 20px 0;
}
.bio_title{
    margin: 35px 0 0 25px;
}
.bio_col1{
    float: left;
    width: 400px;
    margin: 0 0 25px 25px;
}
.bio_col1 p{
    margin: 10px 0 20px 0;
}
.bio_col2{
    float: right;
    width: 300px;

    border-left: 1px solid rgba(212, 212, 210, 1);
    padding-left: 42px;
    margin-left: 35px;
}


/*-------END MAIN-------*/


/*Test Mod*/
.view{
    background: #eee;
}
.view2{
    background: #ddd;
}
.view3{
    background: #ccc;
}
.view4{
    background: #bbb;
}
.view5{
    background: #aaa;
}
/*End Test Mode*/



@media print {
    #container{
        display: none;
    }
    body:before{
        content: Сафронов Лох!;
    }
    
}

/*Уменьшим шрифты заголовка превью*/
@media (max-width: 700px) {
    #video-preview-title{
        font-size: 30px;
    }

    .more_box-content{
        float: none;
        width: 300px;
        height: 170px;
        padding-bottom: 0;
        margin-left: 20px;
    }

    

}






